stable-baselines3==2.2.1
gymnasium==0.29.1
torch==2.12.0
numpy==1.26.4
gym==0.25.2
pyglet==1.5.27
opencv-python-headless==4.11.0.86
scikit-image==0.24.0
scipy==1.15.3
pyzmq==27.1.0
PyYAML==6.0.3
Pillow==12.2.0
imageio==2.37.3
imageio-ffmpeg==0.6.0
pyvirtualdisplay==3.0
zuper-commons-z6==6.2.4
zuper-ipce-z6==6.1.2
zuper-nodes-z6==6.2.17
zuper-typing-z6==6.2.3
PyGeometry-z6==2.1.5
carnivalmirror==0.6.2
aido-protocols-daffy==6.1.1
duckietown-serialization-ds1==1.1.1
duckietown-world-daffy==6.4.3
pycontracts3==7.2
duckietown-gym-daffy==6.1.34
tensorboard==2.20.0